codition {
  .font-title {
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    padding-top: 16px;
  }

  .font-subtitle {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 6px;
    padding-bottom: 32px;
  }

  .item-image {
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: map-get($map: $colors, $key: blue);

    ion-icon {
      font-size: 4rem;
    }
  }

  .content-container {
    width: calc(100% - 80px);
    padding: 10px 10px 10px 32px;

    .item-name {
      font-weight: bold;
      font-size: 2.2rem;
      font-family: 'Nunito', sans-serif;
    }

    .item-des {
      padding-top: 6px;
      font-size: 1.5rem;
      color: gray;
    }

    .btn-container {
      text-align: right;
      margin-top: 10px;

      .button {
        transition: 300ms;
        border-radius: 5px;
        background: map-get($map: $colors, $key: orange);
        box-shadow: none;
        font-weight: bold;
        box-shadow: 0 3px 6px rgba($color: map-get($map: $colors, $key: orange), $alpha: .16);
      }

      .button:hover {
        background: map-get($map: $colors, $key: blue);
        box-shadow: 0 3px 6px rgba($color: map-get($map: $colors, $key: blue), $alpha: .16);
        transform: scale(1.04);
      }
    }

  }



  .a3-container {
    margin-bottom: 16px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 3px 6px rgba($color: #8a8a8a, $alpha: .16);
    padding: 10px 16px 0 16px;
  }
}
