infomation {
  .max-width {
    max-width: 800px;

    ion-input {
      border: 1px solid lightgray;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 1.4rem;
    }
    ion-input:focus{
      border-color: #32bfbd !important;
    
    }

    .item{
        padding-left: 0;
    }

    .item-inner {
      border-bottom: none !important;
    }

    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
      border-bottom-color: none !important;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
      box-shadow: none;
    }
  }

  .red-color{
      color: red;
      font-style: italic;
      margin-top: 0 !important;
      margin-bottom: 20px;
      padding-left: 10px;
  }

  .btn-send{
      background: #FF7000;
      border-radius: 5px;
      min-height: 48px;
  }

  .f-district {
    position: relative;
    height: 44px;
    background: white;
    font-size: 1.4rem;
    border-radius: 5px;
    width: calc(100% - 8px);
    display: flex;
    padding-left: 16px;
    align-items: center;
    border: 1px solid lightgray;

    .icon-container {
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #6E6E6E;
    }

    color: #6E6E6E;

    &.selected {
      color: map-get($map: $colors, $key: blue);
    }
  }

  @media (max-width: 575px) {
    .row{
        margin-top: 16px;
    }
  }
}
