<!-- Generated template for the InfomationComponent component -->
<div>
  <div class="max-width">
    <ion-row align-items-center>
      <ion-col col-sm-3 col-12>
        <div class="normal-font">
          Họ và tên *
        </div>
      </ion-col>
      <ion-col col-sm-9 col-12>
        <ion-item>
          <ion-input [(ngModel)]="name" (input)="onInput()" placeholder="Họ và tên theo CMT,thẻ căn cước"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row col-12 col-sm-9 offset-sm-3 [hidden]="nameBool" class="red-color">
      <div>Họ và tên không hợp lệ</div>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-sm-3 col-12>
        <div class="normal-font">
          Số điện thoại chuyển đổi *
        </div>
      </ion-col>
      <ion-col col-sm-9 col-12>
        <ion-item>
          <ion-input type="number" [(ngModel)]="phoneConvert" placeholder="Số điện thoại bạn muốn chuyển đổi"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row col-12 col-sm-9 offset-sm-3 [hidden]="phoneConvertBool" class="red-color">
      <div>Số điện thoại chuyển đổi không hợp lệ</div>
    </ion-row>

    <ion-row align-items-center align-items-center>
      <ion-col col-sm-3 col-12>
        <div class="normal-font">
          Số điện thoại liên hệ *
        </div>
      </ion-col>
      <ion-col col-sm-9 col-12>
        <ion-item>
          <ion-input type="number" [(ngModel)]="phoneReceive" placeholder="Số điện thoại dùng để liên hệ với bạn"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row col-12 col-sm-9 offset-sm-3 [hidden]="phoneReceiveBool" class="red-color">
      <div>Số điện thoại liên hệ không hợp lệ</div>
    </ion-row>


    <ion-row align-items-center>
      <ion-col col-sm-3 col-12>
        <div class="normal-font">
          Địa chỉ
        </div>
      </ion-col>
      <ion-col col-sm-9 col-12>
        <ion-item>
          <ion-input [(ngModel)]="address" placeholder="Địa chỉ liên hệ"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>



    <!-- <ion-row>
      <ion-col col-sm-9 offset-sm-3 col-12>
        <re-captcha (resolved)="captchaResolved($event)" siteKey="{{sitekey}}"></re-captcha>
      </ion-col>
    </ion-row>
     -->
    <ion-row>
      <ion-col col-sm-3 offset-sm-3 col-12>
        <div class="btn-container">
          <button ion-button full icon-left class="btn-send" (click)="onClickSend()">
            <ion-icon name="ios-send"></ion-icon>
            ĐĂNG KÝ
          </button>
        </div>
      </ion-col>
    </ion-row>


  </div>


</div>
