<!-- Generated template for the HinhThucDauNoiComponent component -->
<div>
  <div text-center class="p-question">
    {{mQuestion}}
  </div>
  <ion-row align-items-center justify-content-center>
    <ion-col col-sm-4 col-6 *ngFor="let item of typeConnects" tappble (click)="onClickItem(item)">
      <div class="item-type a1-relative" [class.selected]="item.id == mID">
        {{item.name}}

        <div class="circle-28 xs-hidden a3-container-center a1-absolute" [class.selected]="item.id == mID">
          <ion-icon name="checkmark" [hidden]="item.id != mID"></ion-icon>
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>
